# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore bundler config & gems
/vendor/bundle

# Ignore MAC OS stuff
.DS_Store

# Ignore Idea stuff
/.idea
