!!!
%html
  %head
    %title HomeAlbum
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}
    = stylesheet_link_tag    "application", "/fancy-box/jquery.fancybox", "/fancy-box/helpers/jquery.fancybox-thumbs", :media => "all"
    = javascript_include_tag "application", "/fancy-box/jquery.mousewheel-3.0.6.pack", "/fancy-box/jquery.fancybox.pack", "/fancy-box/helpers/jquery.fancybox-thumbs"
    = csrf_meta_tags
  %body
    .container-fluid
      = yield
